# Regression - Predict 
 introdunctions texts to be written here

body starts here with 
## Imports

In [21]:
# Import modules
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import numpy as np

# Figures inline and set visualization style
%matplotlib inline
sns.set()

## Data Loading and Preprocessing

### Importing Datasets

#### Train data

In [23]:
train_df=pd.read_csv('https://raw.githubusercontent.com/rufusseopa/Team_18_JHB_WhatTheHack_regression-predict-api-template/master/Data/Train.csv')

In [38]:
train_df.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,1:00:38 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,10:05:27 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:25:37 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214

#### Test data

In [27]:
test_df=pd.read_csv('https://raw.githubusercontent.com/rufusseopa/Team_18_JHB_WhatTheHack_regression-predict-api-template/master/Data/Test.csv')

In [37]:
test_df.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Pickup - Weekday (Mo = 1),Pickup - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id
0,Order_No_19248,User_Id_3355,Bike,3,Business,27,3,4:44:10 PM,27,3,...,3,5:06:47 PM,8,NaN,NaN,-1.333275,36.870815,-1.305249,36.822390,Rider_Id_192
1,Order_No_12736,User_Id_3647,Bike,3,Business,17,5,12:57:35 PM,17,5,...,5,1:25:37 PM,5,NaN,NaN,-1.272639,36.794723,-1.277007,36.823907,Rider_Id_868
2,Order_No_768,User_Id_2154,Bike,3,Business,27,4,11:08:14 AM,27,4,...,4,11:57:54 AM,5,22.8,NaN,-1.290894,36.822971,-1.276574,36.851365,Rider_Id_26
3,Order_No_15332,User_Id_2910,Bike,3,Business,17,1,1:51:35 PM,17,1,...,1,2:16:52 PM,5,24.5,NaN,-1.290503,36.809646,-1.303382,36.790658,Rider_Id_685
4,Order_No_21373,User_Id_1205,Bike,3,Business,11,2,11:30:28 AM,11,2,...,2,11:56:04 AM,6,24.4,NaN,-1.281081,36.814423,-1.266467,36.792161,Rider_Id_858

Comments on the data
** the follwoing columns needs to be restructed order_no,user_id and rider _id**
**we need to combine the test and train data so that when we do the EDA BOTH DATASETS CAN BE CLEANED AND SEPERATE THEM AFTER **

#### Additional Datasets
Riders ,Variable Defition

### Processing Data

Create a new DataFrame data that consists of training and test sets combined. You do this because you want to preprocess the data a little bit and make sure that any operations that you perform on the training set are also being done on the test data set.

In [30]:
# Concatenate training and test sets
data = pd.concat([train_df, test_df])

In [36]:
data.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745.0
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993.0
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,1:00:38 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455.0
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,10:05:27 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341.0
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:25:37 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214.0

Check out your new DataFrame data using the info() method.

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28269 entries, 0 to 7067
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Order No                                   28269 non-null  object
 1   User Id                                    28269 non-null  object
 2   Vehicle Type                               28269 non-null  object
 3   Platform Type                              28269 non-null  int64
 4   Personal or Business                       28269 non-null  object
 5   Placement - Day of Month                   28269 non-null  int64
 6   Placement - Weekday (Mo = 1)               28269 non-null  int64
 7   Placement - Time                           28269 non-null  object
 8   Confirmation - Day of Month                28269 non-null  int64
 9   Confirmation - Weekday (Mo = 1)            28269 non-null  int64
 10  Confirmation - Time                        28269 non-null  object
 11  Arrival at Pickup - Day of Month           28269 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)       28269 non-null  int64
 13  Arrival at Pickup - Time                   28269 non-null  object
 14  Pickup - Day of Month                      28269 non-null  int64
 15  Pickup - Weekday (Mo = 1)                  28269 non-null  int64
 16  Pickup - Time                              28269 non-null  object
 17  Arrival at Destination - Day of Month      21201 non-null  float64
 18  Arrival at Destination - Weekday (Mo = 1)  21201 non-null  float64
 19  Arrival at Destination - Time              21201 non-null  object
 20  Distance (KM)                              28269 non-null  int64
 21  Temperature                                22466 non-null  float64
 22  Precipitation in millimeters               751 non-null    float64
 23  Pickup Lat                                 28269 non-null  float64
 24  Pickup Long                                28269 non-null  float64
 25  Destination Lat                            28269 non-null  float64
 26  Destination Long                           28269 non-null  float64
 27  Rider Id                                   28269 non-null  object
 28  Time from Pickup to Arrival                21201 non-null  float64
dtypes: float64(9), int64(10), object(10)
memory usage: 6.5+ MB

There are 7 numerical variables that have missing values.

What are they?

That's right, you're missing values for the Arrival at Destination - Day of Month ,Arrival at Destination - Weekday (Mo = 1) ,Arrival at Destination - Weekday (Mo = 1),Temperature,Precipitation in millimeters and Time from Pickup to Arrival  columns! You see in the result of the .info() method above that you're missing.Ideally, you of course want all of those 28269 to have non-null values, but that isn't the case here!
However, now you'll focus on fixing the numerical variables: you will impute or fill in the missing values for the columns, using the median of the of these variables where you know them.

Note that in this case, you use the median because it's perfect for dealing with outliers. In other words, the median is useful to use when the distribution of data is skewed. Other ways to impute the missing values would be to use the mean, which you can find by adding all data points and dividing by the number of data points, or mode, which is the number that occurs the highest number of times.

#### Missing Values

In [ ]:
# Impute missing numerical variables
data[missing value colum] = data.Age.fillna(data.Age.median())
data[mssing value colum] = data.Fare.fillna(data.Fare.median())

# Check out info of data
data.info()

## Modelling

## Performance Evaluation

## Model Analysis